html {
  background-color: #efd7c6;
}

.App {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.c-bg-img {
  height: 100vh;
  width: 100vw;
  position: absolute;
  object-fit: cover;
  opacity: 80%;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100vw;
  height: 100vh;

  .logo {
    max-width: 26rem;
  }

  .icon-container {
    display: flex;
    width: 17rem;
    justify-content: space-between;
    align-items: center;
  }

  .icon {
    max-height: 3rem;
  }

  .email-icon {
    max-height: 3.5rem;
  }

  @media only screen and (max-width: 450px) {
    .logo {
      max-width: 18rem;
    }
    .icon-container {
      width: 13rem;
    }
    .icon {
      max-height: 2.5rem;
    }
    .email-icon {
      max-height: 2.8rem;
    }

  }

  // .icon:hover {
  // }
}



.input {
  border-bottom-width: 1px;
  border-color: black;
  background: transparent;
  padding: .5rem 1rem;
}

.input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.input::placeholder {
  color: black;
  opacity: 1;
}

.input::-moz-placeholder {
  color: black;
  opacity: 1;
}

.input::-webkit-input-placeholder {
  color: black;
  opacity: 1;
}

.input::-ms-input-placeholder  {
  color: black;
  opacity: 1;
}

.input:-ms-input-placeholder {
  color: black;
  opacity: 1;
}

.register-button {
  cursor: pointer;
  border-radius: .375rem;
  opacity: 1;
  background-color: black;
  color: white;
  padding: .5rem 1rem;
  text-align: center;
}
